<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1020807384910-1727nm819qc9isnj6hv5cbam2sar4fmq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1020807384910-1727nm819qc9isnj6hv5cbam2sar4fmq</string>
	<key>API_KEY</key>
	<string>AIzaSyDM80cA0zcp-7e3LBZkB4nTGZ8S3SVxc64</string>
	<key>GCM_SENDER_ID</key>
	<string>1020807384910</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.passwordManager</string>
	<key>PROJECT_ID</key>
	<string>passman-ccba5</string>
	<key>STORAGE_BUCKET</key>
	<string>passman-ccba5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1020807384910:ios:c258831320c9a638ea581f</string>
</dict>
</plist>